<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="es">
<head>
    <title> {% block title %} Titulo Base {% endblock %}</title>
</head>
<body>
<header>
<h1>Manejo de Items</h1>
<nav>
	<a href="{% url 'vista_marca' %}"> Agregar marca </a> 
	<a href="{% url 'vista_grupo' %}"> Agregar grupos </a> 
	<a href="{% url 'vista_bodega' %}"> Agregar bodegas </a> 
	<a href="{% url 'vista_unidad' %}"> Agregar Unidades </a> 
	<a href="{% url 'vista_item' %}"> Agregar Items </a> 
	<a href="{% url 'vista_index' %}"> Principal </a>
</nav>
</header>

<section>
	{% block content %}
	{% endblock %}
</section>

</body>
</html>