{% extends 'facturacion/base.html' %}
{% block title %} Agregar Item {% endblock %}
{% block script %}

<script>



  $(function() {
  	
  
    var marcas = '{{marcas}}';
    marcas=marcas.replace(/\&quot;/g, '"')
    marcas=marcas.split(",");
    
    var unidades = '{{unidades}}';
    unidades=unidades.replace(/\&quot;/g, '"')
    unidades=unidades.split(",");
    
    var grupos = '{{grupos}}';
    grupos=grupos.replace(/\&quot;/g, '"')
    grupos=grupos.split(",");
    
    
    $( "#id_marca" ).autocomplete({
    	source: marcas
        });
    
    $( "#id_unidad" ).autocomplete({
      source: unidades
    });
    
    $( "#id_grupo" ).autocomplete({
      source: grupos
    });
    
    
  });
  </script>
{% endblock script %}
{% block content %}

<br> <h2>Agregar Item</h2>

<form action="." method="POST">

	{% csrf_token %}
	{{ mensaje }}
	{{ form.as_p }}
	
	<input type="submit" value="Agregar">
	<input type="reset" value="Limpiar">

</form>


{% endblock %}
