{% extends 'facturacion/base.html' %}
{% block title %} Agregar Unidad {% endblock %}
{% block script %}
	//$(document).ready(function() 	{
	//window.addEventListener('load', function (e){ 
	
	$(function() {
		$("#tabla").load("/lista_unidades/");	
	});
{% endblock script %}
{% block content %}
<br> <h2>Agregar Unidad</h2>

<form action="." method="POST">

	{% csrf_token %}
	{{ mensaje }}
	{{ form.as_p }}
	<input type="submit" value="Agregar">
	<input type="reset" value="Limpiar">

</form>


<div id="tabla"></div>

{% endblock %}
